.Header {
  text-align: center;
  background-color: sienna;
}

.headerTextLogo {
  font-family: Abandoned;
  font-size: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.header-image {
  margin-top: -20px;
  width: 100%;
  height: 500px;
  background-color:lightgrey;
  border-style: solid;
  border-width: 5px;
  border-color:#1a0d00;
}

@font-face {
  font-family: 'Abandoned';
  src: local('Abandoned'), url(./fonts/Abandoned-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Aquamarine';
  src: local('Aquamarine'), url(./fonts/Aquamarine.otf) format('truetype');
}

@font-face {
  font-family: 'Vonique';
  src: local('Vonique'), url(./fonts/Vonique.otf) format('truetype');
}

.drink-logo {
  width: 50px;
  height: 50px;
}

.image-size {
    width: 250px;
    height: 270px;
    border-radius:50%;
}
